<% content_for :head do %>
  <%= javascript_include_tag "jquery.form" %>
<% end %>

<div class="hero">
  <div class="container static-cont">
    <h1>Hassle-free Membership<br/>Management Solution</h1>
    <div>
      <button class="btn invite-link">TRY MEMBR</button> <span>free</span>
    </div>
  </div>
</div>

<div class="container static-cont section onboard">
  <h2>Onboard New Members in 10 Seconds</h2>
  <p>No member accounts. Your members only need a credit card to be onboarded.</p>
  <div id="slider">
    <ul class="pager">
      <div>
        <li><a rel="0" class="pagenum" href="#">Create plans</a></li>
        <li><a rel="1" class="pagenum" href="#">Invite</a></li>
        <li><a rel="2" class="pagenum" href="#">Onboard</a></li>
      </div>
    </ul>
    <div class="viewport">
      <ul class="overview">
        <li><%= image_tag "createplan.png" %></li>
        <li><%= image_tag "dashboard.png" %></li>
        <li><%= image_tag "signup.png" %></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#slider').tinycarousel({
      intervaltime: 5000,
      controls: false,
      pager: true,
      duration: 500,
      interval: true
    });
  });
</script>

<hr/>

<div class="container static-cont section values">
  <h2>NEVER HAVE TO COLLECT OVERDUES</h2>
  <p>Automated billing so you always collect your membership fees on time.</p>
  <div class="points">
    <div class="point">
      <div class="inner">
        <div class="avatar">
          <%= image_tag "cloud-security.png" %>
        </div>
        <h2>SECURED PAYMENTS</h2>
        <p>Every transaction and payment is secured in the cloud.
          Membr does not store any credit card information.
          A true peace of mind for everyone.</p>
      </div>
    </div>
    <div class="point">
      <div class="inner">
        <div class="avatar">
          <%= image_tag "automatedrenewal.png" %>
        </div>
        <h2>AUTOMATED RENEWALS</h2>
        <p>Membr is smart enough to know that membership
          fees are due. It’s easy to set up recurring payment
          and you will never have to collect overdues again.</p>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="container static-cont section bottom-convert">
  <h2>HASSLE-FREE SETUP</h2>
  <p>Making the switch is as easy as importing all your member information with one click.</p>
  <button class="btn invite-link">TRY MEMBR</button>
</div>

<div class="full-pager beta-form-wrap">
  <div class="wash"></div>
  <div class="form-wrap">
    <%= form_for @beta, url: create_beta_path do |f| %>
      <h2>Request Beta</h2>
      <p>Request access to the private beta by completing the form below.</p>
      <%= f.text_field :full_name, :placeholder => "Full Name", :required => "true"%>
      <%= f.text_field :email, :placeholder => "Email", :required => "true" %>
      <%= f.text_field :phone_number, :placeholder => "Phone Number", :required => "true" %>
      <%= f.text_field :organization, :placeholder => "Business Name", :required => "true" %>
      <%= f.text_field :job_title, :placeholder => "Job Title", :required => "true" %>
      <%= f.text_field :location, :placeholder => "Location", :required => "true" %>
      <%= f.number_field :number_of_members, :placeholder => "Number of members", :required => "true" %>
      <%= f.submit "Request Invite", :class => "btn" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.invite-link').click(function() {
    $('.beta-form-wrap').fadeIn();
    $('.form-wrap').css('top', '50%');
  });

  $('.beta-form-wrap .wash').click(function() {
    $('.form-wrap').css('top', '-100%');
    $('.beta-form-wrap').fadeOut();
  });
</script>