<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.tinycarousel.min.js" %>
  <%= javascript_include_tag "jquery.customSelect.min" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>

  <title>Membership Management Solution for Member Associations</title>
  <meta charset="utf-8">
  <meta name="Description" CONTENT="Membr is the easiest and fastest way to manage membership and payment for your nonprofit, club or association. Try Membr; it's free.">
  <meta name="robots" content="noindex,nofollow">
</head>
<body class="static">

<div class="form-header">
  <%= link_to root_url do %>
    <%= image_tag "logo.png" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
