<!DOCTYPE html>
<html>
<head>
  <title>Membr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" %>
  <%= javascript_include_tag "global" %>
  <%= javascript_include_tag "jquery.tablesorter.min" %>
</head>
<body ng-app="membr" ng-controller="AppCtrl">

<div class="master-loader" ng-show="masterLoading">
  <div class="wash"></div>
  <div class="details">
    loading your data<%= image_tag "ajax-loader.gif" %>
  </div>
</div>

<div class="header">
  fdsa
</div>

<div class="home">
    <div class="nav-panel">
      <button ng-click="showScope()">Angular Scope</button>
      <div class="nav-item active" data-panel="members">
        Members
      </div>
      <div class="nav-item" data-panel="memberships">
        Memberships
      </div>
      <div class="nav-item">
        Notifications
      </div>
      <div class="nav-item">
        Import/Export
      </div>
      <div class="nav-item">
        Settings
      </div>
    </div>
  <div class="content">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">

  $(window).load(function() {
      $('.home').css('height', $(window).height()-41);
      $('.home').css('width', $(window).width());
  });

  $(window).resize(function() {
    $('.home').css('height', $(window).height()-41);
    $('.home').css('width', $(window).width());
  });
</script>

</body>
</html>
