<!DOCTYPE html>
<html>
<head>
  <title>Membr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js" %>
  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag "underscore.min.js" %>
  <%= javascript_include_tag "global" %>
  <%= javascript_include_tag "jquery.tablesorter.min" %>
  <%= javascript_include_tag "jquery.customSelect.min" %>
  <%= javascript_include_tag "jquery.ui.widget" %>
  <%= javascript_include_tag "jquery.fileupload" %>
</head>
<body ng-app="membr" ng-controller="AppCtrl">

<div class="master-loader" ng-show="masterLoading">
  <div class="wash"></div>
  <div class="details">
    loading your data<%= image_tag "ajax-loader.gif" %>
  </div>
</div>

<div class="header">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="success-header" ng-class="showSuccess && 'enter' || ''" >
    {{ successMessage }}
  </div>
  <div class="right-links">
    <%= link_to "Logout", user_signout_path, :method => "DELETE" %>
  </div>
</div>

<div class="home">
    <div class="nav-panel">
      <!--<button ng-click="showScope()">Angular Scope</button>-->
      <div class="nav-item active" data-panel="members">
        <%= image_tag 'members.png' %>
        Current Members
      </div>
      <div class="nav-item" data-panel="inactiveMembers">
        <%= image_tag 'inactive.png' %>
        Inactive Members
      </div>
      <div class="nav-item" data-panel="memberships">
        <%= image_tag 'memberships.png' %>
        Memberships
      </div>
      <div class="nav-item" data-panel="import">
        <%= image_tag 'import.png' %>
        Import
      </div>
      <div class="nav-item" data-panel="transactions">
        <%= image_tag 'transactions.png' %>
        Transactions
      </div>
      <div class="nav-item" data-panel="settings">
        <%= image_tag 'settings.png' %>
        Account Settings
      </div>
    </div>
  <div class="content">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">

  $(window).load(function() {
      $('.home').css('height', $(window).height()-41);
      $('.home').css('width', $(window).width());
  });

  $(window).resize(function() {
    $('.home').css('height', $(window).height()-41);
    $('.home').css('width', $(window).width());
  });
</script>

</body>
</html>
