<% content_for :head do %>
  <%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
<% end %>

<div class="container join">
  <h1>Join Up</h1>
  <h2 class="sub"><%= @creatable.membership.name %></h2>
  <span class="fee">
    <span class="amount"><%= @creatable.membership.display_fee %></span>
    <%= "/#{@creatable.membership.renewal_text}" %>
  </span>
  <p>You've been invited to join <%= @creatable.membership.name %>!  This page will expire on <%= (@creatable.created_at + 7.days).strftime("%b %d, %Y") %>, so be sure to fill out your information to join the membership on time!</p>

  <div class="invite-wrap">
    <%= form_for @member, :url => members_create_path(:creatable_id => @creatable.id) do |f| %>
      <%= f.error_messages %>
      <div class="personal-info">
        <h3>Personal Information</h3>
        <%= f.text_field :full_name, :placeholder => "Full Name"%>
        <%= f.text_field :email, :placeholder => "Email" %>
        <%= f.text_field :phone, :placeholder => "Phone" %>
        <%= f.text_field :organization, :placeholder => "Organization (optional)" %>
        <%= f.text_field :title, :placeholder => "Title (optional)" %>
        <%= f.text_field :work_number, :placeholder => "Work Phone (optional)" %>
        <br/>
        <%= f.text_field :street_address, :placeholder => "Street Address" %>
        <%= f.text_field :city, :placeholder => "City" %>
        <%= f.text_field :state, :placeholder => "Province/State" %>
        <%= f.text_field :zipcode, :placeholder => "Postal/Zip Code" %>
        <%= f.text_field :country, :placeholder => "Country" %>
      </div>
      <div class="billing">
        <h3>Billing</h3>
        <p>You will be charged <span class="bold"><%= "#{@creatable.membership.display_fee}/#{@creatable.membership.renewal_text}" %></span></p>
      </div>
      <p class="billing-help">After you enter your payment details, you will be charged immediately and an invoice will be sent to your email.  If you have any questions or concerns contact <%= @creatable.membership.user.organization %> at <a href="mailto:<%= @creatable.membership.user.email %>"><%= @creatable.membership.user.email %></a></p>

      <p class="billing-help">By signing up you agree to Membr's <%= link_to "Terms & Privacy", terms_url %></p>
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-name="<%= @creatable.membership.user.organization %>"
              data-key="<%= @creatable.membership.user.stripe_public_key %>"
              data-amount="<%= @creatable.membership.fee %>"
              data-description="<%= @creatable.membership.name + " - #{@creatable.membership.display_fee}/#{@creatable.membership.renewal_text}"%>"></script>
      <%= image_tag "outline.png", :class => "stripe" %>
      <span class="secured">
        <%= image_tag "lock.png" %> Secure Connection
      </span>
    <% end %>
  </div>
</div>