<% content_for :head do %>
  <%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
<% end %>

<div class="container join">
  <h1>Change your payment</h1>

  <div class="invite-wrap">
    <%= form_tag payment_update_path(:paymenter_id => @paymenter.id) do -%>
      <div class="billing">
        <h3>Billing</h3>
      </div>
      <p class="billing-help">
        Update your payment details. This page will expire on <%= (@paymenter.created_at + 7.days).strftime("%b %d, %Y") %>, so be sure to fill out your information to join the membership on time!
      </p>
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= @paymenter.member.membership.user.stripe_public_key %>"
              data-description="Update your credit card"></script>
      <%= image_tag "outline.png", :class => "stripe" -%>
      <span class="secured">
        <%= image_tag "lock.png" %> Secure Connection
      </span>
    <% end %>
  </div>
</div>