<% content_for :head do %>
  <%= javascript_include_tag "jquery.customSelect.min" %>
  <%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
<% end %>

<div class="container join">
  <h1>Join up</h1>
  <span class="fee">
    <span class="amount"><span class="value"></span></span>
    /<span class="renewal"></span>
  </span>
  <p class="which-member">Which membership would you like?</p>

  <div class="invite-wrap">
    <%= form_for @member, :url => members_public_create_path do |f| %>
      <%= select_tag "membership", membership_options(@user.active_memberships)%>
      <%= f.error_messages %>
      <div class="personal-info">
        <h3>Personal Information</h3>
        <%= f.text_field :full_name, :placeholder => "Full Name" %>
        <%= f.text_field :email, :placeholder => "Email" %>
        <%= f.text_field :phone, :placeholder => "Phone" %>
        <%= f.text_field :organization, :placeholder => "Organization (optional)" %>
        <%= f.text_field :title, :placeholder => "Title (optional)" %>
        <%= f.text_field :work_number, :placeholder => "Work Phone (optional)" %>
        <br/>
        <%= f.text_field :street_address, :placeholder => "Street Address" %>
        <%= f.text_field :city, :placeholder => "City" %>
        <%= f.text_field :state, :placeholder => "Province/State" %>
        <%= f.text_field :zipcode, :placeholder => "Postal/Zip Code" %>
        <%= f.text_field :country, :placeholder => "Country" %>
      </div>
      <div class="billing">
        <h3>Billing</h3>
        <p>You will be charged <span class="bold">$</span></p>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis metus dui, nec egestas nibh scelerisque in. </p>
      <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= ENV['PUBLISHABLE_KEY']%>"></script>
      <%= image_tag "outline.png", :class => "stripe" %>
    <% end %>
  </div>
</div>

<script>
  $(window).load(function() {
    $('#membership').change(function() {
      var selected = $(this).find(':selected');
      changeMembership(selected.text(), selected.attr('data-amount'), selected.attr('data-renewal'));
    });

    $('#membership').trigger('change');
    $('#membership').customSelect();
  });

  function changeMembership(name, fee, renewal) {
    var billing = $('.billing');
    billing.find('.bold').html(fee+'/'+renewal);
    var billing = $('.fee');
    billing.find('.value').html(fee);
    billing.find('.renewal').html(renewal);
  }
</script>